<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${#request.getParameter('message') == 'error'}" style="color: red; margin: 10px 0px;">
        Login Failed!
    </div>

    <div th:if="${#request.getParameter('message') == 'logout'}" style="color: green; margin: 10px 0px;">
        Logout Success!
    </div>

    <div>
        <form th:action="@{/j_spring_security_check}" method="post">
            <table>
                <tr>
                    <td>UserName: </td>
                    <td><input type="text" th:name="username"></td>
                </tr>
                <tr>
                    <td>PassWord: </td>
                    <td><input type="text" th:name="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Login"></td>
                </tr>

            </table>
        </form>
    </div>
</body>
</html>