<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3><a th:href="@{/home}">List User</a> </h3>
    <table th:object="${user}">
        <tr>
            <td>Id: </td>
            <td th:text="${user.get(0)}"></td>
        </tr>
        <tr>
            <td>Fullname: </td>
            <td th:text="${user.get(1)}"></td>
        </tr>
        <tr>
            <td>Username: </td>
            <td th:text="${user.get(2)}"></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td th:text="${user.get(3)}"></td>
        </tr>
    </table>
</body>
</html>