<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3><a href="@{/home}">List User</a> </h3>
    <br/>
    <form th:action="@{/updateUser/{id}(id=${user.get(0)})}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>Id: </td>
                <td><input th:value="${user.get(0)}" th:name="id" disabled="true"></td>
            </tr>
            <tr>
                <td>Fullname: </td>
                <td><input th:value="${user.get(1)}" th:name="fullName"></td>
            </tr>
            <tr>
                <td>Username: </td>
                <td><input th:value="${user.get(2)}" th:name="userName"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input th:value="${user.get(3)}" th:name="passWord"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>