a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 30px;
    background-color: #4CAF50;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

th .center {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

th .center {
    text-align: center;
    padding: 8px;
}

.header {
    /*background-color: red;*/
    float: left;
    margin-top: 0px;
    padding: 8px;
}

.search {
    /*background-color: yellow;*/
    float: right;
    margin-top: 30px;
    padding: 8px;
    display: table;
}

.content {
    padding: 8px;
}

.footer {
    float: right;
    padding: 8px;
}

div .c {
    display: block;
}

.save {
    display: table;
}

div .form-example {
    display: table-row;
}

div .form-example {
    display: table;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}