<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- Inclue _menu.html -->
    <th:block th:include="/_menu"></th:block>

    <h1>Login</h1>

    <!-- /login?error=true -->
    <div th:if="${#request.getParameter('error') == 'true'}" style="color: red; margin: 10px 0px;">
        Login Failed!!<br/>
        Reson ...
    </div>

    <h3>Enter user name and password</h3>
    <form name="f" th:action="@{/login}" method="post">
        <table>
            <tr>
                <td>User: </td>
                <td><input type="text" name="username" value="" placeholder="Enter Username"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" value="" placeholder="Enter Password"></td>
            </tr>
            <tr>
                <td>Remember Me</td>
                <td><input type="checkbox" name="remember"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="Login"></td>
            </tr>
        </table>
    </form>
</body>
</html>